{
  "version": 2,
  "builds": [{ "src": "check.js", "use": "@now/node" }],
  "env": {
    "DISCORD_WEBHOOK_URL": "@discord_webhook_url",
    "SENTRY_DSN": "@sentry_dsn",
    "GAMING_GROUP_ID": "12345"
  }
}
